@media (max-width:1150px) {
    .formPortal {
        width: 100%;
    }

    .formPortal > p {
        width: 100%;
    }

    .globalTmerDiv .timer-Div {
        width: 49%;
    }

    .statisticPortal {
        width: 100%;
    }

    .formPortal > p input {
        width: 100%;
    }
    
    .timerButtonDiv {
        width: 50%;
    }

    .timerButton {
        width: 100%;
    }
}

@media (max-width:820px) {
    .globalTmerDiv {
        flex-direction: column;
        gap: 12px;
    }

    .statisticPortal {
        height: 799px;
    }

    .globalTmerDiv .timer-Div {
        width: 100%;
    }
}

@media (max-width:600px) {
    .statisticPortal {
        height: fit-content !important;
    }

    .globalTmerDiv {
        margin-top: 6px;
    }

    .formPortal > p {
        height: 120px;
        margin-top: 12px;
    }

    .globalTmerDiv .timer-Div {
        height: 125px;
        padding-top: 18px;
    }

    .timerButtonDiv {
        height: fit-content;
        margin-right: 45px;
    }

    .timerButton {
        width: 154px;
        height: 37px;
    }

    .date {
        margin: 8px 0;
    }

    .timering {
        top: -38px;
        left: -20px;
        width: 208px;
        height: 104px;
    }

    .timer {
        width: 79px;
        height: 79px;
        min-width: 79px;
        min-height: 79px;
        min-width: unset;
    }

    .copy {
        width: 12px;
        height: 14px;
        right: 52px;
        top: 70px;
    }
}

@media (max-width:375px) and (min-width:375px){
    .formPortal > p input {
        width: 100%;
        height: 42px;
        font-size: 12px;
    }

    .formPortal > p {
        width: 100%;
        height: 120px;
        padding: 15px 18px 23px;
        margin: 12px auto;
        gap: 13px;
        border-radius: 5px;
    }

    .timerButtonDiv {
        margin-right: 42px;
        width: fit-content;
    }

    .globalTmerDiv .timer-Div {
        border-radius: 10px;
        width: 345px;
    }

    .statisticPortal {
        align-items: center;
    }

    .copy {
        right: 34px;
        top: 62px;
    }

    .copy img {
        width: 100%;
        height: 100%;
    }

    .timer {
        font-size: 10px;
    }

    .ActiveUntil {
        font-size: 16px;
    }

    .date {
        font-size: 14px;
    }

    .timerButton {
        font-size: 12px;
    }

    .formPortal > p span {
        font-size: 16px;
    }
}

@media (max-width:374px) {

    .timerButton {
        width: 119px;
    }
    
    .date {
        font-size: 11px;
    }
}