.userHome {
    width: 1562px;
    height: 889px;
    display: flex;
    column-gap: 38px;
    cursor: context-menu;
}

.reg-active-channelGroup-contacts-div {
    width: 1011px;
    height: fit-content;
}

.user-channels-div {
    width: 513px;
    height: 889px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.homeImgDiv {
    width: 1011px;
    height: 414px;
    background: radial-gradient( #C5C5FF -100%, #6969FF 100%);
    position: relative;
    display: flex;
}

.homeUnderline {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 140px;
    background: radial-gradient(#6969FF  0%, #8181FF 100%);
    display: block;
    z-index: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.homeImg {
    width: 477px;
    height: 284px;
    padding: 55px 0px 0px 74px;
    z-index: 1;
}

.registerDescriptionDiv {
    width: 342px;
    height: 268px;
    margin: 91px 0 0 100px;
    z-index: 1;
}

.description {
    font-size: 33px;
    color: #ffffff;
    font-weight: 700;
}

.description2 {
    font-size: 12px;
    opacity: 0.7;
    font-weight: 400;
    z-index: 1;
    color: #ffffff;
    margin: 13px 0;
}

.mainImgButton {
    width:249px ;
    height:47px ;
    background: #EEBA06;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #282828;
    font-weight: 600;
    border: 1px solid #EEBA06;
    outline: none;
    cursor: pointer;
}

.mainImgButton:hover {
    background: #2A29B4;
    color: white;
    border: 1px solid #2A29B4;

}

.slick-slider {
    width: 1011px;
    height: 410px;
}

.slick-dots {
    bottom: 19px;
    width: 30%;
    z-index: 1;
}

.slick-prev {
    display: none !important;
}

.slick-next {
    display: none !important;
}

.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #EEBA06;
}

.slick-dots li button:before {
    font-size: 9px;
}

.channel-Active-Groupe {
    width: 1011px;
    height: 441px;
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
}

.active-contacts-div {
    width: 488px;
    height: 441px;
    cursor: context-menu;
}

.timer-Div {
    width: 488px;
    height: 171px;
    border-radius: 20px;
    background: #FFFFFF;
    padding-top: 29px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

#timerDiv1 {
    animation-name: timerDiv1;
    animation-duration: 1s;
}

@keyframes timerDiv1 {
    0% {
        width: 488px;
        height: 171px;
        transform: translate(0,-448px);
    }

    100% {
        transform: translate(0);
    }
}

.timer {
    min-width: 110px;
    height:110px;
    border-radius: 50%;
    background-color: transparent;
    font-size: 14px;
    font-weight: 500;
    border: 3px solid #DFEBFE;
    text-align: center;
    margin-left: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.timering {
    position: absolute;
    top: -49px;
    left: -48px;
    width: 293px;
    height: 150px;
    transform: rotate(-87deg);
}

.timerButtonDiv {
    width: 220px;
    height: 113px;
    display: flex;
    flex-direction: column;
    margin-right: 51px;
} 

.date {
    margin:  11px 0;
    columns: #282828;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 500;
}

.ActiveUntil {
    color: #282828;
    font-size: 18px;
    font-weight: 700;
}

.timerButton {
    width: 220px;
    height: 47px;
    background: #EEBA06;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #282828;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    border: 2px solid #EEBA06 ;
    outline: none;
    cursor: pointer;
}

.timerButton:hover {
    background: #2A29B4;
    color: white;
    border: 1px solid #2A29B4;
}

#timerButton2 {
    animation-duration: 1s;
}

#timerButton2:hover {
    background: #2A29B4;
    color: white;
    border: 1px solid #2A29B4;
}

@keyframes timerButton2 {
    0% {
        transform: translate(-100%, 80px );
    }

    100% {
        transform: translate(0, 0 );
    }
}

.contacts {
    width: 488px;
    height: 236px;
    background: #ffffff;
    border-radius: 20px;
    margin-top: 34px;
    display: flex;
    flex-direction: column;
}

.titel-Contacts {
    color: #282828;
    font-size: 24px;
    font-weight: 700;
    margin: 28px 0 17px 42px;
}

.titleUnderLine {
    width: 288px;
    margin: 0 0 17px 42px;
    background: #282828;
    opacity: 0.2;
    height: 2px;
}

.contactsMessigeImg {
    width: 191px;
    margin: 0  0 15px 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    opacity: 0.7;
    text-decoration: none;
    color: #282828;
    opacity: 0.7;
}

.contactsMessigeImg img {
    width: 16px;
    height: 12px;
}

.contactsCallImg {
    width: 191px;
    margin: 0  0 15px 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    opacity: 0.7;
    text-decoration: none;
    color: #282828;
    opacity: 0.7;
}

.contactsCallImg img {
    width: 16px;
    height: 12px;
}

.socialImageDiv {
    width: 219px;
    height: 41px;
    display: flex;
    justify-content: space-between;
    margin-left: 42px;
}

.socialImageDiv :link {
    width: 41px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.socialImageDiv a:hover {
    background: #EEBA06 !important;
}

.mainChannelGroup {
    width: 488px;
    height: 441px;
    background: #FFFFFF;
    border-radius: 20px;
    cursor: context-menu;
}

.channelTittel {
    width: 460px;
    height: 60px;
    background: #CCE1E4;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #282828;
    margin: 11px auto 0 ;
    font-weight: 700;
    animation-duration: 1s;
}

@keyframes channelTittel {
    0%{
        width: 862px;
        transform: translate(-504px, -316px);
    }

    100% {
        transform: translate(0);
    }
}

.channelGroupChecked {
    height: 291px;
    width: 373px;
    margin: 35px  auto 0;
    display: flex;
    justify-content: space-between;
}

.groupinput {
    display: flex;
    flex-direction: column;
}

.groupinput label {
    font-size: 16px;
    color: #282828;
    opacity: 0.7;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.groupinput:nth-child(1) {
    width: 198px;
    border-right: 1px solid #2828281f;
}

.groupinput label input {
    margin-right: 20px;
    width: 17px;
    height: 17px;
    border-radius: 10px;
    cursor: pointer;
    display: none;
}

.user {
    width: 513px;
    margin:0 auto;
    height: 146px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #FFFFFF;
    border-radius: 20px;
    animation-name: user;
    animation-duration: 1s;
}

@keyframes user {
    0% {
        position: relative;
        left: -1050px;
        width: 212px;
        height: 273px;
        border-radius: 20px;
        padding: 19px;
        margin: 0;
    }

    100% {
        position: relative;
        left: 0px;
    }
}

.userName {
    width: 348px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.userName p {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    animation-duration: 1s;
}

@keyframes userParagraph {
    0%{
        opacity: 0;
    }

    95% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.userName p span:nth-child(1) {
    font-size: 30px;
    color: #282828;
    font-weight: 600;
}

.userName p span:nth-child(2) {
    font-size: 16px;
    color: #282828;
    font-weight: 600;
    opacity: 0.7;
    display: none !important;
}

.user button {
    background: #CCE1E4;
    border-radius:  10px;
    width: 70px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #CCE1E4;
    outline: none;
    cursor: pointer;
    animation-duration: 1s;
}

.user button:hover {
    background: #2A29B4;
    color: white;
}

@keyframes userButton {
    0%{
        opacity: 0;
    }

    95% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.userName > img {
    width: 100px;
    height: 100px;
    animation-duration: 1s;
}

@keyframes userImg {
    0% {
        position: absolute;
        top: 23px;
        left: 23px;
        width: 172px;
        height: 172px;
    }

    90% {
        position: absolute;
        top: 24px;
        left: 31px;
    }

    /* 100% {
        width: 100px;
        height: 100px;
    } */
}

.titleChannel {
    width: 471px;
    height: 60px;
    border-radius: 10px;
    background: #CCE1E4;
    margin: 0 auto;
    position: relative;
    top: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: 282828;
    font-weight: 700;
}

.Channels {
    overflow: hidden;
    width: 513px;
    height: 709px;
    border-radius: 20px;
    background:#FFFFFF;
    position: relative;
    cursor: context-menu;
    animation-duration: 1s;
}

@keyframes channels2 {
    0%{
        width: 900px;
        height: 440px;
        transform: translate(-1050px, 0);
    }
    100% {
        transform: translate(0);
    }
}

.TvChannels {
    width: 373px;
    height: 574px;
    margin-top: 54px;
    margin-left: 70px;
    display: flex;
    justify-content: space-between;
    animation-duration: 1s;
}

@keyframes tvChennels {
    0% {
        margin-top: 0;
        height: 440px;
        width: 900px;
        margin-left: 0px;
    }
}

.TvChannels p {
    width: fit-content;
    height: 28px;
    animation-duration: 1s;
}

@keyframes Channelp {
    0% {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
    }
}

.TvChannels p :Link {
    width: 100%;
    display: inline-block;
    margin-bottom: 34px;
    cursor: pointer;
    animation-duration: 1s;
}

@keyframes tvChennelsSpan {
    0% {
        margin-bottom: 0px;
        width: 50%;
        height: 10%;
    }

    80% {
        width: 50%;
    }

    100% {
        margin-bottom: 34px;
        width: 175px;
    }
}

.messigeButton {
    display: none;
    outline: none;
    position: absolute;
    bottom: 80px;
    right: -69px;
    border: 1px solid transparent;
    background: transparent;
    cursor: pointer;
    transition: 1s;
}

.labelForHome {
    position: absolute;
    width: 172px;
    height: 51px;
    background: #CCE1E4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    border-radius: 10px;
    animation-duration: 1s;
    left: 1158px;
    top: 94px;
    opacity: 1;
    z-index: 1;
    display:flex;
    z-index: -1;
}

@keyframes labelFor {
    0% {
        opacity: 1;
        position: absolute;
        left: 116px;
        top: 206px;
        z-index: 1;
    }

    20%{
        opacity: 0;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

.slick-list {
    border-radius: 20px;
}