
.headerContainer {
    width: 100%;
    padding-top: 44px;
}

.headerNavigator {
    width: 1660px;
    height: 55px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.menuLogo {
    width: 143px;
    height: 55px;
    transition: 1s;
}

.headerImgAnim {
    transition: 1s;
    transform: translateY(15px);
}


#menuLogoimg {
    width: 100%;
    height: 100%;
}

.menuItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 630px;
    transition: 1s;
}

.name {
    font-size: 18px;
    text-decoration: none;
    color: #383838;
    opacity: 70%;
}

.menuItemButton {
    width: 178px;
    height: 48px;
    background: transparent;
    font-family: Montserrat;
    font-style: Medium;
    font-size: 18px;
    border-radius: 5px;
    font-weight: 600;
    outline: none;
    border: 2px solid;
    cursor: pointer;
    transition: 1s;
}

.menuItem button:hover{
    background: #5C58FF;
    color: white;
    /* border: 2px solid #5C58FF; */
    /* padding-bottom: 2px; */
}

.displayNone {
    display: none !important;
}

.languig-Div {
    background-image: url("/src/images/dropdown-arrow.png");
    background-position: right;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: 14px;
    display: flex;
    align-items: center;
    width: 43px;
    height: 22px;
    cursor: pointer;
    position: relative;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.option {
    text-align: center;
    position: absolute;
    top: 28px;
    left: -8px;
    width: 54px;
    z-index: 2;
    height: fit-content;
    font-size: 18px;
    border-radius: 10px;
    background: white;
    padding-bottom: 3px;
    display: flex;
    flex-direction: column;
}

.option > button {
    text-decoration: underline;
    margin-top: 3px;
    border-radius: 10px;
    outline: none;
    border: none;
    background: transparent;

}

.option > button:hover {
    background: rgba(0, 0, 255, 0.555);
    color: white;
}

.toggleImg {
    display: none;
    background: transparent;
    outline: none;
    border: none;
} 

.toggleNone {
    display: none;
}

.toggleMain {
    position: absolute;
    width: fit-content;
    top: 89px;
    right: 15px;
    z-index: 2;
}

.toggle {
    box-shadow: 0 0 5px;
    z-index: 6;
    z-index: 2;
    padding-top: 36px;
    width: 345px;
    height: 259px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
    border-radius: 10px;
}

.toggleMenu {
    text-decoration: none;
    opacity: 0.7;
    font-size: 22px;
    font-weight: 500;
    color: #282828;
    
}

.toggleButton {
    margin-top: 39px;
    width: 296px;
    height: 51px;
    background:#EEBA06 ;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    display: flex ;
    justify-content: center;
    align-items: center;
    color: #282828;
}
