.about {
    width: 1524px;
    height: 755px;
    margin: 66px auto 0;
}

.aboutDiv {
    width: 1524px;
    height: 111px;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 30px;
}

.about .h2 {
    height: 81px;
    background: #CCE1E4;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.aboutP {
    width: 100%;
    font-style: Medium;
    height: 614px;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 36px 40px 48px;
    overflow-y: scroll;
    letter-spacing: 1px !important;
}

::-webkit-scrollbar {
    width: 10px;
}

/* 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(4, 238, 129); 
    border-radius: 10px;
} */

::-webkit-scrollbar-thumb {
    background: rgb(153, 147, 147);
    border-radius: 10px;
}

.aboutP p {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    color: #000000;
}