
@media (max-width:1550px) and (min-width:500px) {
    .aboutP {
        z-index: 1 !important;
    }

    .aboutDiv{
        z-index: 1 !important;
    }
}

@media screen and (max-width:1540px) {
    .about {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 25px;
        padding: 0 15px 52px;
        height: fit-content;
    }

    .aboutDiv{
        width: 100%;
        margin-bottom: 15px;
    }

    /* .aboutP {
        height: fit-content;
    } */
}

@media screen and (max-width:375px) {
    .aboutDiv {
        max-width: 345px;
        height: 64px;
        margin-bottom: 15px;
        padding: 10px 12px ;
    }

    .about h2 {
        max-width: 325px;
        height: 41px;
        font-size: 18px;
        font-weight: 700;
        margin: 0;
        font-style: bold;
    }

    .aboutP {
        font: Montserrat;
        font-size: 16px;
        font-weight: 500;
        color: #000000;
        line-height: 20px;
    }
}