@media (max-width:1540px) {
    .balanAndInternalTransition {
        width: 100%;
    }

    .historyMovement {
        width: 100%;
    }

    .table {
        width: 95%;
    }

    .stateTable::after {
        width: 100%;
    }

    .balance {
        width: 49%;
    }

    .historyMain {
        width: 100%;
    }
}

@media (max-width:1200px) {
    .span1 {
        font-size: 16px;
    }

    .dollar :nth-child(2) {
        font-size: 18px;
    }

    .balanAndInternalTransition {
        flex-direction: column;
        gap: 12px;
        height: fit-content;
        margin-bottom: 12px;
    }

    .balance a {
        width: 50%;
    }

    .balance {
        width: 100%;
        height: 111px;
    }

    .historyMovement > p {
        font-size: 12px;
    }

    .historyMovement :nth-child(2) {
        width: max-content;
        margin-right: unset;
        gap: 16px;
    }

    .historyMovement :nth-child(2) span {
        font-size: 12px;
    }

    .historyMovement :nth-child(2) select {
        width: 38px;
    }

    .titleTable :nth-child(2) {
        width: fit-content;
    }

    .titleTable {
        height: 31px;
    }

    .stateTable {
        height: 33px;
    }

    .stateTable::after {
        height: 33px;
    }

    .historyMain {
        height: fit-content;
        padding-bottom: 10px;
        margin-top: 12px;
    }
}

@media (max-width:750px) {
    #th5 {
        padding: unset;
    }

    .titleTable th {
        text-align: center;
    }

    .stateTable :nth-child(1n+3) {
        text-align: center;
        padding: 0;
    }

    .statisticMain {
        width: 100%;
    }

    .historyMovement {
        display: none;
    }

    .titleTable th {
        font-size: 14px;
    }

    .stateTable {
        font-size: 8px;
    }

    .historyMain {
        margin-top: unset;
    }
}

@media (max-width:550px) {
    .balance {
        border-radius: 5px;
        width: 345px;
        flex-direction: column;
        justify-content: center;
        gap: 11px;
        align-items: unset;
        padding: 0 18px;
    }

    .balanAndInternalTransition {
        align-items: center;
    }

    .balance a {
        width: 309px;
        height: 39px;
        font-size: 14px;
    }

    .dollar :nth-child(1) img {
        height: 14px;
        width: 14px;
    }

    .titleTable :nth-child(1) {
        font-size: 8px;
    }

    .titleTable th {
        font-size: 8px;
    }

    .stateTable {
        font-size: 8px;
    }

    .stateTable :nth-child(1n+3) {
        font-size: 10px;
    }

    .pTag {
        width: 5px;
        height: 8px;
    }

    .pTag img {
        width: inherit;
        height: inherit;
    }

    .span {
        overflow: hidden;
        text-overflow: ellipsis;
        width: 65px;
        height: 10px;
        display: inline-block;
    }

    .historyMain {
        border-radius: 5px;
        width: 345px;
        padding-bottom: 13px;
    }

    .statisticMain {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 843px;
    }

    .stateTable td:nth-child(2) {
        padding: unset;
    }
    
    .linkP a {
        color: black;
        font-size: 12px;
    }

    .footerTable {
        margin-top: 12px;
    }
}

@media (max-width:374px) {

    .stateTable :nth-child(1n+3) {
        padding-right: unset;
    }

    .historyMain {
        width: 100%;
    }

    .balance {
        width: 100%;
    }

    .balance a {
        width: 95%;
    }

    #th5 {
        padding: unset;
    }
}