.statisticMain {
    width: 1421px;
    height: 930px;
}

.balanAndInternalTransition {
    width: 1421px;
    height: 88px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 34px;
    display: none !important;
}

.balance {
    width: 693px;
    background: #FFFFFF;
    border-radius: 20px;
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
    align-items: center;
    cursor: context-menu;
}

.InternalTransition {
    width: 693px;
    background: #FFFFFF;
    border-radius: 20px;
}

.balanceButton {
    width: 220px;
    height: 47px;
    font-size: 18px;
    font-weight: 600;
    background: #EEBA06;
    outline: none;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: #282828;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.balanceButton:hover {
    background: #2A29B4;
    color: white;
}

.dollar:nth-child(1) {
    color: #282828;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.dollar :nth-child(1) img {
    margin-right: 20px;
    height: 19px;
}

.dollar :nth-child(2)  {
    margin-left: 20px;
    font-size: 32px;
    font-weight: 500;
}

.span1 {
    opacity: 0.7;
    display: flex;
    align-items: center;
}

.historyMovement {
    width: 1421px;
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border-radius: 20px;
    cursor: context-menu;
    animation-duration: 1s;
}

@keyframes historyMovement {
    0% {
        transform: translate(0,-123px);
        width: 900px;
        height: 91px;
    }

    100% {
        height: 88px;
        transform: translate(0);
    }
}

.historyMovement p {
    animation-duration: 1s;
}

@keyframes pHistory {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.historyMovement > p  {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
}

.historyMovement :nth-child(1) img{
   margin-right: 26px;
   margin-left: 38px;
   width: 25px;
   height: 25px;
}

.slectShow {
    display: flex;
    justify-content: space-between;
    height: 35px;
    margin-right: 92px;
}



.slectInput {
    width: 65px;
    height: 35px;
    background: #DCE0F2;
    border: none;
    border-radius: 10px;
    margin-right: 0;
    outline: none;
    cursor: pointer;
    margin: 0 20px;
    font-weight: 600;
    font-size: 18px;
    padding-left: 14px;
}

.optionSelect {
    position: absolute;
    top: 35px;
    left: 20px;
    width: 65px;
    height: 140px;
    background: #DCE0F2;
    flex-direction: column;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow-x: scroll;
    /* overflow-x: hidden;

    overflow-y: hidden; */
    z-index: 5;

}

.optionSelect::-webkit-scrollbar {
    display: none;

}

.optionSelect::-webkit-scrollbar-thumb {
    display: none;
}

.clickToShow {
    position: absolute;
    width: 65px;
    height: 35px;
    background-color: transparent;
    top: 0;
    left: 20px;
    border-radius: 10px;
    background-image: url("/src/images/slackForShow.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 41px;
    cursor: pointer;
}



.optionSelect > button {
    border: none;
    outline: none;
    border-top: 1px solid #282828;
    width: 51px;
    min-height: 33px;
    margin: 0 auto;
    background: transparent;
    cursor: pointer;
    z-index: 1;
}

.optionSelect > button:hover {
    background: rgb(0 0 255 / 10%);
}

.historyMovement :nth-child(2) span {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}

.historyMain {
    display: flex;
    justify-content: space-between;
    width: 1421px;
    height: 774px;
    background: #FFFFFF;
    border-radius: 20px;
    margin-top: 34px;
    flex-direction: column;
    padding-bottom: 20px;
    overflow-x: scroll;
}


.table {
    width: 1337px;
    margin: 0 auto;
}



.titleTable {
    height: 61px;
}



.titleTable :nth-child(1) {
    border: none;
    background: transparent;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    text-align: left;
    margin-right: 20px;
}

.titleTable :nth-child(2) {
    width: 602px;
    text-align:left;
    cursor: context-menu;
}

.titleTable th:nth-child(3),
.titleTable th:nth-child(4) {
    display: none !important;
}

/* 
#th5 {
    padding-right: 31px;
} */

.titleTable th {
    font-size: 18px;
    font-weight: 600;
    text-align: right;
    cursor: context-menu;
}

.stateTable {
    padding: 2px;
    height: 49px;
    position: relative;
    cursor: pointer;
    animation-name: pagination;
    animation-duration: 1s;
}

@keyframes pagination {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.stateTable:hover {
    background: #DCE0F2;
}

.stateTable td:nth-child(3),
.stateTable td:nth-child(4) {
    display: none !important;
}

.stateTable::after{
   content: "";
   border-top:1px solid rgba(40, 40, 40, 0.219);
   display: block;
   width: 1337px;
   height: 50px;
   position: absolute;
   left: 0;
   right: 0;
   margin: 0 auto;
}

.stateTable:last-child::after {
    content: "";
    border-bottom:1px solid rgba(40, 40, 40, 0.219);
} 

.stateTable :nth-child(1n+3) {
    text-align: right;
    padding-right: 17px;
}

.stateTable td:nth-child(1) {
    padding-left: 5px;
}

.stateTable td:nth-child(2) {
    padding-left: 5px;
}

.footerTable {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px !important; 
    margin: 0 auto;
}

.buttonSlack {
    width: 26px;
    height: 26px;
    height: 9px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    outline: none;
    border: none;
}   

/* .buttonSlack:hover {
    background: #00115e !important;
} */

.footerTable > button img{
    width: 4.5px;
}   

.linkP {
    /* position: relative; */
    width: 82px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.linkP :link {
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    padding:0  15px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    color: #28282894;
}

.innerLinkP {
    position: relative;
    left: 0;
    display: flex;
    width: fit-content;
    transition: 1s;
}

.activeBalance {
    width: 26px;
    height: 26px;
    color: white;
    background: #2A29B4 !important;
    border-radius: 3px;
}

.butPagination {
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.dots {
    width: 26px;
    height: 26px;
    display: flex;
    align-items: flex-end;
    margin: 0 3px;
}



.pTag {
    display: inline-block;
    margin-right: 20px;
    width: fit-content;
    height: fit-content;
    z-index: 1;
    position: absolute;
    cursor: pointer;
    display: none !important;
}

.span {
    padding-left: 30px;
    padding-left: 0 !important;
}

.tbody {
    color: rgba(40, 40, 40, 0.7);
    font-size: 16px;
    font-weight: 600;
}

.statisticFurther {
    width: 693px;
    height: 415px;
    background: #FFFFFF;
    border-radius: 20px;
}

.statisticConfirmed {
    width: 500px;
    height: 500px;
    background: red;
}

.statisticFurther p {
    font: Montserrat;
    display: flex;
    gap: 20px;
    color: #282828;
    font-size: 24px;
    font-weight: 600;
    align-items: center;
    margin: 30px 0 30px 34px;
    cursor: context-menu;
}

.statisticFurther p img {
    width: 20px;
    height: 20px;
}

.FurtherForm {
    width: 623px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 33px;
}

.FurtherForm select {
    width: 623px;
    height: 70px;
    opacity: 0.9;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.25);
    padding: 0 29px 0 40px;
    border: none;
    font-size: 24px;
    font-weight: 600;
    appearance: none;
    background-image: url("../images/vectorselect.png");
    background-repeat: no-repeat;
    background-position: 96%;
    background-size: 20px 10px;
}

.FurtherForm select option {
    height: 10px;
    border: 1px solid black;
    border-radius: 10px;
}   

.FurtherForm input::placeholder {
    font-size: 24px;
    font-weight: 600;
}

.FurtherForm input {
    width: 623px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding-left: 40px;
    font-size: 24px;
    font-weight: 600;
    background: rgba(0, 0, 0, 0.25);
    border: none;
    opacity: 0.6;
}

.FurtherForm button {
    width: 623px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EEBA06;
    font-size: 24px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.statisticConfirmed {
    width: 693px;
    height: 508px;
    background: #FFFFFF;
    border-radius: 20px;
}

.statisticConfirmed p {
    display: flex;
    column-gap: 20px;
    align-items: center;
    margin:30px 0 33px 35px;
    font-size: 24px;
    font-weight: 600;
    color: #282828;
    cursor: context-menu;
}

.statisticConfirmed p img {
    width: 20px;
    height: 19px;
}

.confirmedForm {
    width: 623px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.confirmedForm input {
    width: 623px;
    height: 70px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    opacity: 0.6;
    border: none;
    padding-left: 40px;
    font-size: 24px;
    font-weight: 600;
}

.confirmedForm input::placeholder {
    font-size: 24px;
    font-weight: 600;
}

.statisticConfirmed select {
    appearance: none;
    width: 623px;
    height: 70px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    opacity: 0.6;
    border: none;
    padding-left: 40px;
    background-image: url("../images/vectorselect.png");
    background-repeat: no-repeat;
    background-position: 96%;
    background-size: 20px 10px;
    font-size: 24px;
    font-weight: 600;
}

.statisticConfirmed button {
    width: 623px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EEBA06;
    font-size: 24px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}