

.contactUs {
    width: 1524px;
    margin: 66px auto 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* padding: 0 15px; */
}

.contactUsDiv {
    width: 1524px;
    height: 111px;
    background: #FFFFFF;
    border-radius: 10px;
    padding: 15px;
}

.contactUsDiv h2 {
    height: 81px;
    background: #CCE1E4;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    cursor: context-menu;
}

.contactDiv {
    width: 1524px;
    height: 111px;
    border-radius: 10px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contactDiv a:nth-child(1) {
    display: flex;
    align-items: center;
    font-size: 30px;
    color: #28282870;
    text-decoration: none;
}

.contactDiv a img {
    width:30px;
    height: 30px;
    margin-right: 15px;
}

.contactDiv a:nth-child(2) {
    display: flex;
    align-items: center;
    font-size: 30px;
    color: #28282870;
    text-decoration: none;
}

.contactDiv a:nth-child(2) img {
    width:40px;
    height: 30px;
    margin-right: 15px;
}

.socialSiteIcon {
    width: 272px;
    height: 49px;
    display: flex;
    justify-content: space-between;
}

.contactLink {
    width: 49px;
    height: 49px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactLink:hover {
    background: #EEBA06 !important;
}

.contactLink:nth-child(1) img {
    width: 9px ;
    height: 18px ;
    margin-right: 0;
}

.contactLink:nth-child(2) img {
    width: 18px !important;
    height: 18px !important;
    margin-right: 0 !important;
}

.contactLink:nth-child(3) img {
    width: 22px !important;
    height: 18px !important;
    margin-right: 0;
}

.contactLink:nth-child(4) img {
    width: 22px !important;
    height: 18px !important;
    margin-right: 0;
}

.registerNewTitle {
    font-size: 24px;
    font-weight: 700;
    position: relative;
    display: none;
}

#afterLine {
    color: #28282870;
    text-decoration: none;
    font-size: 30px;
    position: relative;
    display: flex;
    align-items: center;
}

.contactData {
    width: 1524px;
    height: 497px;
    background: #FFFFFF;
    border-radius: 10px;
}

.contactFormTetx {
    width: 1316px;
    margin: 48px auto 30px;
}

.contactFormTetx div {
    display: flex;
    justify-content: space-between;
}

.contactFormTetx div input {
    width: 643px;
    height: 70px;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding-left: 48px;
    font-size: 24px;
    font-weight: 600;
    opacity: 0.6;
    color: #28282880;
    border: none;
    outline: 3px solid transparent;

}

.contactFormTetx > textarea {
    width: 1316px;
    height: 186px;
    font-size: 24px;
    font-weight: 600;
    opacity: 0.6;
    color: #282828;
    padding: 22px 0 0 48px;
    background: rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    resize: none;
    outline: 3px solid transparent;
}

.contactFormTetx > textarea:focus {
    outline: 3px solid rgb(1, 8, 104) !important;
}

.contactFormTetx div input:focus {
    outline: 3px solid rgb(27, 3, 134) !important;
}

/* .contactFormTetx div input:valid {
    outline: 3px solid rgb(3, 134, 25) !important;
} */

/* .contactFormTetx > textarea:valid {
    outline: 3px solid rgb(13, 104, 1) !important;
} */

.contactFormTetx button {
    width: 211px;
    height: 73px;
    background: #EEBA06;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    color: #282828;
    margin-top: 23px;
    border: none;
    cursor: pointer;
}

.contactFormTetx button:hover {
    background: #2A29B4;
    color: white;
}

.LetterMain {
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    position: absolute;
    background: rgba(204, 225, 228, 0.64);;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LetterChild{
    width: 792px;
    height: 403px;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
    position: relative;
    padding-top: 80px;
}

.Letter {
    width: 179px;
    height: 172px;
    margin-top: 64px;
    background-image: url("/src/images/Letter.svg");
    background-repeat: no-repeat;
    background-position: center;
    /* background: transparent; */
}

.textGood {
    font-weight: 600;
    font-size: 40px;
    color: #282828;
}

.closeReceiveLetter {
    position: absolute;
    background-image: url("/src/images/closeLetter.svg");
    width: 29.5px;
    height: 29.5px;
    background-size: 29.5px, 29.5px;
    border: none;
    outline: none;
    background-color: white;
    right: 34px;
    top: 30px;
    cursor: pointer;
}

