
@media (max-width:1550px) and (min-width:500px) {
    .contactUs :nth-child(n) {
        z-index: 1 !important;
    }
}

@media (max-width:1530px) {
    .contactUs {
        width: 95%;
        margin-top: 25px;
        gap: 12px;
    }

    
    #afterLine {
        font-size: 20px;
    }

    .contactDiv a:nth-child(2) {
        font-size: 25px;
    }
    .contactUsDiv {
        width: 100%;
    }

    .contactDiv {
        width: 100%;
        padding-left: 42px;
    }

    .contactData {
        width: 100%;
    }

    .contactFormTetx {
        width: 95%;
    }

    .contactFormTetx > textarea {
        width: 100%;
    }

    .contactFormTetx div input {
        width: 49%;
    }
}

@media (max-width:900px) {

    #afterLine {
        font-size: 18px;
    }

    .contactDiv a:nth-child(2) {
        font-size: 18px;
    }

    .contactDiv {
        order: 4;
        margin-bottom: 57px;
        flex-wrap: wrap;
    }

    .LetterChild {
        width: 95%;
    }

    
}



@media (max-width:600px) {
    .contactDiv {
        width: 100%;
        height: 236px;
        margin: 0 auto;
        flex-direction: column;
        align-items: unset;
    }

    .contactDiv a:nth-child(1) {
        font-size: 16px;
        font-weight: 600;
    }

    .contactDiv a:nth-child(2) {
        font-size: 16px;
        position: relative;
    }

    .contactLink {
        width: 41px;
        height: 41px;
    }

    .socialSiteIcon :nth-child(1) img {
        width: 8px !important;
        height: 15px !important;
    }

    .socialSiteIcon :nth-child(2) img {
        width: 15px !important;
        height: 15px !important;
    }

    .socialSiteIcon :nth-child(3) img {
        width: 18px !important;
        height: 15px !important;
    }

    .socialSiteIcon :nth-child(4) img {
        width: 19px !important;
        height: 15px !important;
    }
    
    .socialSiteIcon {
        width: 216px;
        height: 41px;
    }

    .contactDiv a img {
        width: 16px;
        height: 16px;
    }

    .contactDiv a:nth-child(2) img {
        width: 16px;
        height: 16px;
    }

    #afterLine::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -17px;
        width: 243px;
        height: 1px;
        background: #282828;
        opacity: 0.2;
    }

    #afterLine {
        font-size: 16px;
    }

    .registerNewTitle::after  {
        content: "";
        position: absolute;
        left: 0;
        bottom: -17px;
        width: 243px;
        height: 1px;
        background: #282828;
        opacity: 0.2;
    }

    
    .registerNewTitle {
        display: block;
    }
}


@media (max-width:500px) {
    .contactFormTetx div input {
        width: 296px;
        height: 54px;
        font-size: 18px;
    }

    .contactFormTetx div {
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
    }

    .contactFormTetx > textarea {
        font-size: 18px;
        width: 296px;
        height: 121px;
        margin-top: 12px;
    }

    .contactFormTetx {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 35px auto 36px;
    }

    .contactData {
        height: fit-content;
    }

    .contactFormTetx button {
        width: 296px;
        height: 51px;
        font-size: 18px;
        margin-top: 20px;
    }

    .contactUsDiv {
        width: 345px;
        height: 64px;
        padding: 11px;
    }

    .contactUsDiv h2 {
        width: 325px;
        height: 41px;
        padding: 0;
        margin: 0;
    }   

    .contactUs {
        width: 345px;
        gap: 15px;
    }

    .LetterChild {
        padding-top: 37px;
        width: 345px;
        height: 175.55px;
        gap: 12px;
    }

    .closeReceiveLetter {
        width: 12.85px;
        height: 12.85px;
        background-size: 12.85px 12.85px;
    }

    .Letter {
        width: 77.97px !important;
        height: 74.92px !important;
        background-size: contain;
    }

    .textGood {
        font-weight: 600 !important;
        font-size: 17.4242px !important;
        margin-top: 0 !important;
    }
}

@media (max-width:374px) {
    .contactUs {
        padding: 0 15px;
        width: 100%;
    }

    .contactUsDiv {
        width: 100%;
    }

    .contactUsDiv h2 {
        width: 100%;
    }
    
    .contactDiv {
        width: 100%;
    }

    .contactFormTetx button {
        width: 100%;
    }
    
    .contactFormTetx div input {
        width: 100%;
    }

    .contactFormTetx > textarea {
        width: 100%;
    }
    
    .registerNewTitle::after {
        width: 100%;
    }

    #afterLine::after {
        width: 100%;
    }

    .socialSiteIcon {
        width: 100%;
    }
}