.messigePerson {
    width: 1010px;
    /* height: 720px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-x: scroll;
}

.personDiv {
    width: 1000px;
    height: 165px;
    border-radius: 20px;
    background: #ffffff;
    display: flex;
    align-items: center;
    column-gap: 29px;
    position: relative;
}

.personDiv > p {
    background: #4F4DFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 131px;
    height: 131px;
    margin-left: 18px;
    border-radius: 20px;
}

.personDescription {
    display: flex;
    flex-direction: column;
    gap: 15px;
    cursor: context-menu;
}

.personDescription a{
    font-size: 30px;
    font-weight: 600;
    color:#282828;
    text-decoration: none;
}

.personDescription a:hover {
    color: #2A29B4;
    text-decoration: underline !important;
}

.personDescription > p {
    font-size: 14px;
    font-weight: 600;
    color: rgba(40, 40, 40, 0.7);
    width: 431px;
    line-height: 21px;
}

.personDescription > span {
    color: #282828;
    font-size: 14px;
    font-weight: 600;
}

.personTiem {
    position: absolute;
    right: 32px;
    top: 33px;
    font-size: 24px;
    font-weight: 600;
}

.deleteIconMessige {
    position: absolute;
    right: 32px;
    top: 125px;
    background-image: url("/src/images/trash-alt.svg");
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: white;
}


