@media (max-width:1800px) {
    .userMainPAge {
        width: 99%;
        height: fit-content;
        overflow: hidden;
    }

    .messigeButton {
        right: 100px;
    }
}

@media (max-width:1800px) and (min-width:500px) {
    .userMainPAge {
        z-index: 1 !important;
    }
}



@media (max-width:600px) {
    .iconDiv {
        margin-top: 20px;
        height: fit-content;
        display: flex;
        flex-direction: unset;
        align-items: unset;
        width: 100%;
        justify-content: space-evenly;
    }

    .UserPersonImg {
        padding: 13px 14px;
        display: none;
        gap: 16px;
    }

    .userMainPAge {
        padding: 0 15px;
        flex-direction: column;
    }

    .userPageMenu {
        border-radius: 10px;
        width: 100%;
        height: 81px;
        flex-direction: unset;
        order: 4;
        background: #E4E3F7;
        border: none;
        box-shadow: 0 0 25px -7px black;
        z-index: 2;
        position: fixed;
        bottom: 0%;
        left: 0%;
        align-items: unset;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .exitIcon {
        margin-bottom: unset;
        display: none;
    }

    .iconDiv p {
        width: 41px;
        height: 41px;
    }

    .iconDiv a:nth-child(1) svg {
        width: 15px;
        height: 12px;
    }

    .iconDiv a:nth-child(2) svg {
        width: 15px;
        height: 18px;
    }

    .iconDiv a:nth-child(3) svg {
        width: 15px;
        height: 13px;
    }

    .iconDiv a:nth-child(4) svg {
        width: 15px;
        height: 18px;
    }

    .iconDiv a:nth-child(5) svg {
        width: 15px;
        height: 15px;
    }

    .iconDiv a:nth-child(6) svg {
        width: 15px;
        height: 11px;
    }
}

@media (max-width:350px) {
    .statisticMain {
        padding-bottom: 150px;
    }

    .iconDiv p {
        width: 30px;
    }
}