.tarifMain {
    max-width: 900px;
    width: 100%;
    margin-bottom: 100px;
}

.tarifHeader {
    width: 100%;
    height: 103px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 19px 19px 24px;
    margin-bottom: 20px;
}

.trifInnerHeader {
    width: 100%;
    height: 100%;
    background: #CCE1E4;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
    color: #282828;
}

.secondTarifDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.miniDiv {
    width: 292px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 30px 40px;
    margin-bottom: 20px;
}

.countryname {
    font-weight: bold;
    font-size: 20px;
    color: #282828;
    margin-bottom: 21px;
}

.chexbox {
    display: flex;
    gap: 21px;
    align-items: center;
    margin-top: 15px;
}

.chexboxinput {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 2px solid #2A29B4;
    /* background: radial-gradient(#2A29B4 50%, white 10%); */
    padding: 3px;
}

.check {
    position: absolute;
    width: 12px;
    height: 12px;
    left: 0;
    right: 0;
    top: 2px;
    margin: 0 auto;
    border-radius: 100%;
}

.month{
    font-weight: 600;
    font-size: 16px;
    color: #282828;
}

.secondTarifDiv div input {
    border: 2px solid red;
}

input[type="radio"]:checked + .check {
    background-color: #2A29B4;
}

.descriptionTarif {
    font-weight: normal;
    font-size: 14px;
    color: #282828;
    min-height: 132px;
}

.sendTArif {
    width: 212px;
    height: 54.32px;
    background: #EEBA06;
    border-radius: 10px;
    margin-top: 27px;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    font-weight: 600;
    font-size: 18px;
    color: #282828;
    cursor: pointer;
}

.sendTArif:hover {
    background: #2A29B4;
    color: white;
}

.mainThanks {
    top: 0;
    left: 0;
    width: 100%;
    height:100vh;
    position: absolute;
    background: rgba(245, 222, 179, 0.274);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
}

.thankYou {
    width: 792px;
    height: 403px;
    background: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 21px;
    align-items: center;
}

.thumb {
    width: 157px;
    height: 157px;
    background: rgba(42, 41, 180, 0.2);
    border-radius: 100%;
    margin-top: 64px;
    background-image: url("/src/images/thumb.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.textOk {
    font-weight: 600;
    font-size: 40px;
    color: #282828;
}

.LinkforThanks {
    width: 425px;
    height: 50px;
    background: #EEBA06;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    color: #282828;
}

.LinkforThanks:active {
    color: #282828;
}

.LinkforThanks:hover {
    background: #2A29B4;
    color: white;
}

@media screen and (max-width:1024px) {
    .secondTarifDiv {
        justify-content: space-around;
    }
}

@media screen and (max-width:900px){
    .thankYou {
        width: 95%;
    }
}

@media screen and (max-width:600px){
    .thankYou {
        width: 345px;
        height: 201px;
        border-radius: 4.35606px;
    }

    .thumb {
        width: 68.39px;
        height: 68.39px;
        background-size: 32.23px 32.23px;
        margin-top: 27px;
    }

    .textOk {
        font-weight: 600;
        font-size: 17.4242px;
    }

    .LinkforThanks {
        width: 292.11px;
        height: 34.37px;
        border-radius: 3.43657px;
        font-weight: 600;
        font-size: 10.997px;
    }

    .tarifHeader {
        width: 345px;
        padding: 11px;
        height: 75px;
        font-weight: bold;
        font-size: 18px;
    }

    .miniDiv {
        width: 345px;
        height: 324px;
        padding: 30px 27px;
    }

    .countryname {
        font-size: 20px;
        margin-bottom: 14px;
    }

    .descriptionTarif {
        font-weight: normal;
        font-size: 14px;
    }

    .month {
        font-weight: 600;
        font-size: 16px;
    }

    .sendTArif {
        width: 290px;
        height: 54px;
        border-radius: 10px;
        font-weight: 600;
        font-size: 18px;
        margin-top: 15px;
    }

    .trifInnerHeader {
        font-weight: bold;
        font-size: 18px;
    }

    .socialSiteIcon {
        width: 80%;
    }
}
