@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400&display=swap');
* {
    font-family: 'Montserrat';
}

.MainPage {
    width: 100%;
    min-height: 1080px;
    background: radial-gradient(#B1B1FF 0%,#E3E2FF 100%);
}

@media (max-width:1920px) and (min-width:1920) {
    .MainPage {
        width: 1920px;
    }
}

@media (max-width:900px) {
    .MainPage {
        /* padding: 0 15px; */
        height: fit-content;
    }
}