@font-face {
    font-family: "Montserrat-Bold";
    src: url("/public/font/Montserrat-Bold.ttf");
 
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("/public/font/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat-RegularArm";
    src: url("/public/font/Montserratarm-Regular.otf");
}


@font-face {
    font-family: "Montserrat-BoldArm";
    src: url("/public/font/Montserratarm-Bold.otf");
}

* {
    font-family: 'Montserrat-Regular' !important;
}

html[lang="am"] * {
    font-family: "Montserrat-RegularArm" !important;
}

html[lang="am"] .activeRegisterButton,
html[lang="am"] .activeSignInButton {
    font-family  :"Montserrat-BoldArm" !important;
}

/* html[lang="am"] .activeSignInButton {
    font-family  :"Montserrat-BoldArm" !important;
} */

html[lang="am"] .checkboxForAggrement {
    font-size: 16px !important;
}

html {
    background: radial-gradient(#B1B1FF 0%,#e3e2ff67 100%);
}

.MainPage {
    width: 100%;
    background: radial-gradient(#B1B1FF 0%,#e3e2ff67 100%);
}

@media (max-width:1920px) and (min-width:1920) {
    .MainPage {
        width: 1920px;
    }
}

